<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <NotFound v-if="code === 404" />
  <MainLayout
    v-else
    :title="`Error ${code}`"
  >
    <div class="narrow my-4">
      <h2>Ruh-roh!</h2>
      <div class="alert alert-danger">
        Error {{ code }}<br>
        {{ error.message }}
        <!-- eslint-disable-next-line vue/no-v-html -->
        <code v-html="error.stack" />
      </div>
      <p>
        Feel free to contact the webmaster about this error:
        <a href="mailto:info@baptistcatechism.org">info@baptistcatechism.org</a>
      </p>
      <DebugData
        :data="{ error }"
        :expand-depth="2"
      />
    </div>
  </MainLayout>
</template>

<script setup>
import { computed } from 'vue'

const props = defineProps({
  error: {
    type: Object,
    default: () => null
  }
})

// The statusCode is a string in dev mode and a number in production.
const code = computed(() => parseInt(props.error.statusCode))
</script>
