<template>
  <div class="waveform-container bg-light-gray rounded-pill px-2">
    <div class="fs-4 no-material-align">
      <div v-if="loading">
        <LoadingIcon class="material-rotate" />
      </div>
      <div
        v-else
        role="button"
        @click="waveloader.togglePlay()"
      >
        <PauseIcon v-if="playing" />
        <PlayIcon v-else />
      </div>
    </div>
    <div
      class="speed user-select-none text-end ms-1 me-2"
      role="button"
      @click="speedIndex = (speedIndex + 1) % speeds.length"
    >
      {{ speed }}x
    </div>
    <div>
      {{ formatTime(currentTime) }}
    </div>
    <div class="waveform p-2">
      <!-- We nest this because wavesurfer doesn't handle padding, etc.
        well.
      -->
      <div
        ref="player"
        class="h-100 w-100"
      />
    </div>
    <div>
      {{ formatTime(duration) }}
    </div>
  </div>
</template>

<script setup>
import { ref, computed, watch, onMounted, onUnmounted } from 'vue'
import LoadingIcon from 'vue-material-design-icons/Loading.vue'
import PauseIcon from 'vue-material-design-icons/Pause.vue'
import PlayIcon from 'vue-material-design-icons/Play.vue'

import WaveLoader from '~/lib/waveform'

function formatTime (t) {
  const secs = parseInt(t)
  const s = secs % 60
  const m = parseInt(secs / 60) % 60
  const h = parseInt(secs / (60 * 60))
  const ps = String(s).padStart(2, 0)
  const pm = String(m).padStart(2, 0)
  const ph = String(h).padStart(2, 0)
  return h ? `${ph}:${pm}:${ps}` : `${pm}:${ps}`
}

const speeds = [0.75, 1, 1.25, 1.5, 2, 2.5, 3]

const props = defineProps({
  // Use this for speech audio where real waves would generally not be
  // helpful.
  fakewaves: {
    type: Boolean,
    default: () => false
  },
  src: {
    type: String,
    default: () => ''
  }
})

const loading = ref(true)
const playing = ref(false)
const speedIndex = ref(1)
const waveloader = ref(new WaveLoader({
  callback (data) {
    playing.value = data.playing
    duration.value = data.duration
    currentTime.value = data.currentTime
  },
  fakewaves: props.fakewaves
}))
const duration = ref(0)
const currentTime = ref(0)
const player = ref(null)

const speed = computed(() => speeds[speedIndex.value])

watch(() => props.src, async (src) => {
  loading.value = true
  playing.value = false
  duration.value = 0
  currentTime.value = 0
  speedIndex.value = 1
  await waveloader.value.load(src)
})

watch(speed, (s) => {
  waveloader.value.setPlaybackRate(s)
})

onMounted(async () => {
  await waveloader.value.mount(player.value)
  await waveloader.value.load(props.src)
  loading.value = false
})

onUnmounted(() => {
  waveloader.value.destroy()
})
</script>

<style lang="scss" scoped>
.waveform-container {
  display: flex;
  height: 3rem;
  line-height: 3rem;
}

.speed {
  width: 2.75rem;
}

.waveform {
  // Wavesurfer uses z-indexes, so in order to keep the waveform and cursor
  // from appearing over the header and sidebar, we need to set an explicit
  // z-index with a relative position.
  position: relative;
  z-index: 0;
  flex-grow: 1;
  box-sizing: border-box;
}
</style>
