<template>
  <div class="passage">
    <div
      v-for="(p, i) in passages"
      :key="i"
    >
      <span class="fw-bold d-block">{{ p.ref }}</span>
      <span
        v-for="(v, j) in p.verses"
        :key="j"
      >
        {{ ' ' }}
        <span class="align-super fs-7 fw-bold small">
          <template v-if="v.v === 1">{{ v.c }}:</template>
          <!--connect-->
          {{ v.v }}
        </span>
        {{ v.text }}
      </span>
    </div>
  </div>
</template>

<script setup>
defineProps({
  passages: {
    type: Array,
    default: () => []
  }
})
</script>
