<template>
  <ContentCopyIcon
    class="text-muted"
    title="Copy this"
    role="button"
    @click="copy"
  />
</template>

<script setup>
import ContentCopyIcon from 'vue-material-design-icons/ContentCopy.vue'

const props = defineProps({
  text: {
    type: String,
    default () {
      return ''
    }
  }
})

const tip = useTip()

async function copy (e) {
  await navigator.clipboard.writeText(props.text)
  tip.flash(e, 'Copied!')
}
</script>
