<template>
  <div
    class="expander"
    :style="{height: open ? `${height}px` : 0}"
  >
    <div ref="child">
      <slot />
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'

defineProps({
  open: {
    type: Boolean,
    default () {
      return false
    }
  }
})

const height = ref(0)
const child = ref(null)
defineExpose({ child })

onMounted(() => {
  // Keep the height up-to-date by watching the dom.
  height.value = child.value.offsetHeight
  const observer = new MutationObserver(() => {
    height.value = child.value.offsetHeight
  })
  observer.observe(child.value, { childList: true, subtree: true })
})
</script>

<style lang="scss" scoped>
.expander {
  position: relative;
  overflow: hidden;
  transition: height .25s;

  > * {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
</style>
