<template>
  <div>
    <div
      v-for="(p, i) in cq.paragraphs"
      :key="`p-${i}`"
    >
      <hr v-if="i">
      <div class="d-flex flex-wrap gap-3">
        <div
          v-for="({ q, a, v, r, f }, j) in p.qas"
          :key="`qa-${j}`"
          class="bg-secondary flex-grow-1 p-2"
        >
          <p>
            <span>{{ q }}</span>
            <br>
            <span class="fw-bold">{{ a }}</span>
            <sup v-if="f">*</sup>
          </p>
          <p>
            <span class="fst-italic">{{ v }}</span>
            <br>
            <span>{{ r }}</span>
          </p>
          <p v-if="f">
            <sup>*</sup>{{ f }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    cq: {
      type: Object,
      default () {
        return {}
      }
    }
  }
}
</script>
