<template>
  <MainLayout
    title="Question #404"
    subtitle="The Baptist Catechism"
  >
    <div class="narrow my-4">
      <StandardView
        docname="The Baptist Catechism"
        :data="question"
      />
      <div class="text-center mt-4">
        <NuxtLink
          to="/"
          class="d-inline-block"
        >
          <HomeIcon class="fs-1" /><br>
          return
        </NuxtLink>
      </div>
    </div>
  </MainLayout>
</template>

<script setup>
import HomeIcon from 'vue-material-design-icons/Home.vue'

const question = {
  id: 404,
  question: 'Should we diligently teach our children the word of God?',
  segments: [{
    text: 'Yes, we should diligently teach our children the word of God,',
    verses: 'Deuteronomy 6:7'
  }, {
    text: 'and we can prepare to do this by going back to the homepage of this website and studying the catechism.',
    verses: 'Jeremiah 6:16'
  }]
}
</script>
