<template>
  <div class="prooftext">
    <div
      class="bg-secondary px-1 my-1"
      role="button"
      @click="toggleVerses"
    >
      <ChevronDownIcon
        class="prooftext-expand-icon"
        :class="`prooftext-expand-icon-${open ? 'open' : 'closed'}`"
      />
      <template v-if="index">
        [{{ index }}]
      </template>
      {{ refs }}
    </div>
    <ExpandingView
      :open="open"
    >
      <div
        v-if="loading"
        class="text-center"
      >
        <LoadingIcon class="material-rotate" />
      </div>
      <template v-else-if="error">
        <div
          v-if="error.code === 404"
          class="text-danger"
        >
          Sorry, we could not load the passage! (404)
        </div>
        <div
          v-else
          class="text-danger"
        >
          Sorry, we could not load the passage!<br>
          <span v-if="error.code">{{ error.code }}:</span>
          {{ error.message }}
        </div>
      </template>
      <div
        v-if="passages"
        class="pb-3"
      >
        <EsvPassage
          v-if="esv"
          :passages="passages"
        />
        <BiblePassage
          v-else
          :passages="passages"
        />
      </div>
    </ExpandingView>
    <DebugData
      :data="{ state, passages, error, settings, esvEndpoint }"
      :expand-depth="1"
    />
  </div>
</template>

<script setup>
import { ref, computed, watch } from 'vue'
import ChevronDownIcon from 'vue-material-design-icons/ChevronDown.vue'
import LoadingIcon from 'vue-material-design-icons/Loading.vue'
import kjv from '~/lib/kjv.js'

const props = defineProps({
  index: {
    type: Number,
    default () {
      return 0
    }
  },
  refs: {
    type: String,
    default () {
      return ''
    }
  }
})

const state = ref('closed')
const passages = ref(null)
const error = ref(null)
const settings = useSettings()

const open = computed(() => state.value !== 'closed')
const loading = computed(() => state.value === 'loading')
const esv = computed(() => settings.translation === 'esv')
const esvEndpoint = computed(() => `/.netlify/functions/esv?q=${props.refs}`)

async function toggleVerses () {
  switch (state.value) {
    case 'loading':
    case 'expanded':
      state.value = 'closed'
      return
    case 'error':
      state.value = 'closed'
      return
  }

  if (error.value) {
    state.value = 'error'
    return
  }

  if (!passages.value) {
    if (esv.value) {
      state.value = 'loading'
      const resp = await fetch(esvEndpoint.value)
      if (resp.status !== 200) {
        error.value = {
          code: resp.status,
          message: resp.error
        }
        state.value = 'error'
        return
      }
      const data = await resp.json()
      passages.value = data.passages
    } else {
      passages.value = kjv.displayPassages(props.refs)
    }
  }
  state.value = 'expanded'
}

function reset () {
  state.value = 'closed'
  passages.value = null
  error.value = null
}

watch(esv, reset)
watch(() => props.refs, reset)
</script>
