<template>
  <h2>
    <slot />
    <LinkIcon
      class="text-muted section-heading-link"
      title="Copy a link to this section"
      role="button"
      @click="copy"
    />
  </h2>
</template>

<script setup>
import LinkIcon from 'vue-material-design-icons/Link.vue'

const relUrl = useRelUrl()
const tip = useTip()

async function copy (e) {
  let anchor = ''
  for (let el = e.target; el !== document.body; el = el.parentElement) {
    if (el.id) {
      anchor = `#${el.id}`
      break
    }
  }
  await navigator.clipboard.writeText(relUrl(anchor))
  tip.flash(e, 'Link copied!')
}
</script>
