<template>
  <div>
    <div
      v-if="head"
      class="fw-bold"
    >
      <!-- eslint-disable-next-line vue/singleline-html-element-content-newline -->
      <template v-if="data.question">#</template>
      <!-- connect -->
      {{ data.id }}
      <CopyButton
        :text="copytext"
        class="ms-1"
      />
      <NuxtLink
        v-if="link && !link.match(/#/)"
        :to="link"
        class="float-end"
      >
        Study
      </NuxtLink>
    </div>
    <div
      v-else
      class="text-end"
    >
      <CopyButton
        :text="copytext"
        class="ms-1"
      />
    </div>
    <table class="qqa mb-2">
      <tbody>
        <tr v-if="data.question">
          <th class="pe-2 align-top">
            Question
          </th>
          <td>
            {{ data.question }}
          </td>
        </tr>
        <tr>
          <th
            v-if="data.question"
            class="pe-2 align-top"
          >
            Answer
          </th>
          <td>
            <span
              v-for="({ text, proofs, note }, i) in data.segments"
              :key="`${data.question.id}${i}`"
            >
              {{ ' ' }}{{ text }}
              <!-- connect -->
              <sup v-if="proofs">{{ i + 1 }}</sup>
              <!-- connect -->
              <sup v-if="note">*</sup>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <ProoftextExpander
      v-for="({proofs}, i) in data.segments.filter(s => s.proofs)"
      :key="i"
      :refs="proofs"
      :index="i + 1"
    />
    <div
      v-for="({ note }, i) in data.segments.filter((s) => s.note)"
      :key="i"
    >
      <span>*</span>
      {{ note }}
    </div>
  </div>
</template>

<script setup>
import superscript from 'superscript-number'
import { computed } from 'vue'

const props = defineProps({
  docname: {
    type: String,
    default () {
      return ''
    }
  },
  head: {
    type: Boolean,
    default () {
      return false
    }
  },
  link: {
    type: String,
    default () {
      return ''
    }
  },
  data: {
    type: Object,
    default () {
      return null
    }
  }
})

const relUrl = useRelUrl()

const copytext = computed(() => {
  const prefix = props.data.question ? 'Question #' : ''

  return [
    `${props.docname}, ${prefix}${props.data.id}`,
    props.data.question ? props.data.question : '',
    props.data.segments
      .map(({ text, proofs }, i) =>
        [text, '\u2060', proofs ? superscript(i + 1) : '', '\u2060'].join(
          ''
        )
      )
      .join(' '),
    ...props.data.segments
      .filter((s) => s.proofs)
      .map((s, i) => `${superscript(i + 1)} ${s.proofs}`),
    relUrl(props.link)
  ]
    .filter((l) => !!l)
    .join('\n')
})
</script>
