$primary: #145acc;
$primary-light: #8aafeb;
$light: #f4f4f4;
$secondary: #f2eae4;
$link-hover-color: #ab8ad5;

/* FUTURE(nuxt>3.0.0-rc12): Remove stylelint disable */
@import "bootstrap"; /* stylelint-disable-line import-notation */

html,
body {
  margin: 0;
  hyphens: auto;
  text-justify: inter-word;
}

@media screen and (min-width:35rem){
    body {
      text-align: justify;
    }
}@media screen and (min-width:50rem){
    body {
      hyphens: none;
    }
}

.z-1 {
  z-index: 1;
}

h1, h2, h3 {
  text-align: left;
}

.section-heading-link {
  visibility: hidden;
}

h1:hover .section-heading-link,
h2:hover .section-heading-link,
h3:hover .section-heading-link {
  visibility: visible;
}

.bg-light-hover:hover {
  background-color: $light;
}

.bg-light-gray {
  background-color: #d8d8d8;
}

.hyphens-none {
  hyphens: none;
}

.align-super {
  vertical-align: super;
}

.list-style-none {
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary;
}

a:hover {
  color: $primary-light;
}

a.natural {
  color: inherit;
}

.subtitle {
  font-size: 50%;
  display: block;
}

.narrow {
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.wide {
  padding-left: 2rem;
  padding-right: 2rem;

  .narrow {
    padding-left: 0;
    padding-right: 0;
  }
}

section {
  margin-top: $spacer * 1.5;
  margin-bottom: $spacer * 1.5;
}

p:last-of-type {
  margin-bottom: 0;
}

.h-2lh {
  height: calc(2 * $line-height-base * 1em);
}

.w-1lh {
  width: calc(1 * $line-height-base * 1em);
}

.top-4 {
  top: $spacer * 1.5
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* prooftext */
/* stylelint-disable-next-line selector-class-pattern */
.prooftext-expand-icon .material-design-icon__svg {
  transition: transform .25s;
}

/* stylelint-disable-next-line selector-class-pattern */
.prooftext-expand-icon-open .material-design-icon__svg {
  transform: rotate(180deg);
}

/* tippy */
.tippy-box {
  font-weight: bold;
  color: #d4d4d4;
  background-color: #777;
}

.tippy-box[data-placement^="top"] .tippy-arrow {
  color: #777;
  border-color: #777;
  border-top-color: #777;
}

/* icons */
/* stylelint-disable-next-line selector-class-pattern */
.material-rotate .material-design-icon__svg {
  animation: rotation 2s infinite linear;
}

.material-middle {
  &.material-design-icon,
  .material-design-icon {
    vertical-align: middle;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .material-design-icon__svg {
    bottom: 0;
  }
}

/* waveform */
.waveform {
  --waveform-wave-color: #{$primary};
  --waveform-progress-color: #{$primary-light};
  --waveform-cursor-color: #2d2e30;
}
