<template>
  <div class="d-flex flex-column justify-content-end min-vh-100">
    <Head>
      <Title>
        {{ title }} | {{ subtitle }}
      </Title>
      <Meta
        property="og:title"
        :content="title"
      />
    </Head>
    <div
      v-if="showMenu"
      class="vh-100 vw-100 position-fixed top-0 start-0 z-1"
      @mousedown="showMenu = false"
    />
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white fs-5 px-3 d-flex flex-nowrap align-items-start justify-content-between gap-3">
      <NuxtLink
        to="/"
        class="text-white"
      >
        <HomeIcon />
      </NuxtLink>
      <span>{{ title }}</span>
      <div>
        <MenuIcon
          role="button"
          @click="showMenu = true"
        />
        <div
          v-if="showMenu"
          ref="menu"
          class="position-absolute top-100 end-0 bg-dark p-3 fs-6 z-1"
        >
          <div class="form-check form-switch">
            <input
              id="esv"
              v-model="esv"
              class="form-check-input"
              type="checkbox"
            >
            <label
              class="form-check-label"
              for="esv"
            >
              Use ESV translation
            </label>
          </div>
        </div>
      </div>
    </nav>
    <div
      v-trigger-debug
      class="text-center text-muted fst-italic px-3 py-1 bg-light"
    >
      {{ subtitle }}
    </div>

    <main class="flex-grow-1">
      <slot />
    </main>

    <footer class="text-lg-start bg-light text-muted px-3 py-2 d-flex justify-content-between flex-wrap gap-2">
      <div>
        baptistcatechism.org <i>is a project of</i><br>
        <a
          href="https://svrbc.org/"
          rel="noopener"
          target="_blank"
        >
          Silicon Valley Reformed Baptist Church
        </a>
      </div>
      <div class="footer-links">
        <NuxtLink to="/">
          The Baptist Catechism
        </NuxtLink>
        <NuxtLink to="/beddome/">
          Beddome’s Exposition
        </NuxtLink>
        <NuxtLink to="/wlc/">
          The Westminster Larger Catechism
        </NuxtLink>
      </div>
      <div>
        <NuxtLink
          v-if="$route.path !== '/copyright'"
          to="/copyright"
        >
          Copyright
        </NuxtLink><br>
        <a href="mailto:info@baptistcatechism.org">
          <EmailIcon />
          info@baptistcatechism.org
        </a><br>
      </div>
    </footer>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import EmailIcon from 'vue-material-design-icons/Email.vue'
import HomeIcon from 'vue-material-design-icons/Home.vue'
import MenuIcon from 'vue-material-design-icons/Menu.vue'

defineProps({
  title: {
    type: String,
    default: () => ''
  },
  subtitle: {
    type: String,
    default: () => ''
  }
})

const settings = useSettings()

const showMenu = ref(false)

const esv = computed({
  get () {
    return settings.translation === 'esv'
  },
  set (v) {
    settings.translation = v ? 'esv' : 'kjv'
  }
})
</script>

<style lang="scss" scoped>
footer {
  border-top: 3px solid black;
}

.footer-links a {
  display: block;

  &.router-link-active {
    display: none;
  }
}
</style>
