<template>
  <MainLayout
    title="A Scriptural Exposition of the Baptist Catechism"
    subtitle="By Benjamin Beddome"
  >
    <IntroSection>
      <section
        id="preface"
        class="my-0"
      >
        <SectionHeading>
          Preface
        </SectionHeading>
        <p>
          The Paedobaptist churches having been long furnished with many useful
          and instructive expositions of their catechism, and something of the
          same nature being greatly wanted amongst those of the Baptist
          persuasion, I was at length induced, by presenting solicitations of
          many of my friends, to compose the following, in imitation of Mr.
          Henry’s, which was published with great acceptance several years ago.
        </p>

        <p>
          When we consider the melancholy state of those churches and families,
          where catechising is entirely thrown aside, how much many of them have
          degenerated from the faith, and others from the practice of the
          gospel; little need to be said in vindication of this exercise to
          those, in whom a zeal for both still remains, and I hope will be ever
          increasing.
        </p>

        <p>
          May the great God smile upon this faint attempt for his glory, and may
          that church especially, to which I stand related, accept it as a small
          acknowledgment of their many favours, and a token of the sincerest
          gratitude and affection, from
        </p>

        <p>
          Their willing, though unworthy servant in the gospel of our Lord
          Jesus,
        </p>

        <p>BENJAMIN BEDDOME</p>

        <p>
          Burton upon the Water,<br>
          February 27, 1752
        </p>
      </section>
    </IntroSection>
    <CatechismSection class="wide">
      <section
        v-for="(q, i) in questions"
        :id="q.id"
        :key="q.id"
        class="{mt-5: i}"
      >
        <StandardView
          docname="The Baptist Catechism"
          :data="q"
          :link="`/${q.id}/`"
          head
          class="narrow"
        />
        <DebugData
          :data="{ question: q }"
          :expand-depth="2"
        />
        <MiniCatechism
          :cq="sections[i]"
          class="my-4"
        />
        <DebugData
          :data="{ section: sections[i] }"
          :expand-depth="2"
        />
      </section>
      <DebugData
        :data="{ questions, sections }"
        :expand-depth="1"
      />
    </CatechismSection>
  </MainLayout>
</template>

<script setup>
const questions = await queryContent('catechism')
  .sort({
    id: 1,
    $numeric: true
  })
  .find()
const sections = await queryContent('beddome')
  .sort({
    id: 1,
    $numeric: true
  })
  .find()
</script>
