<template>
  <MainLayout title="Copyright Information">
    <article class="narrow p-4">
      <p>
        <a
          href="https://creativecommons.org/publicdomain/zero/1.0/"
          class="float-end ps-2"
        >
          <img
            src="/cc-zero.png"
            class="h-2lh w-auto"
          >
        </a>
        To the extent possible under law, Silicon Valley Reformed Baptist Church
        has waived all copyright and related or neighboring rights to
        baptistcatechism.org.  This work is published from: United States.
      </p>
      <p id="data">
        Curious about our data?  Feel free to download it as
        <a
          href="/baptistcatechism-data.json"
          target="_blank"
        >a single JSON file</a>
        and take a look or even build your own derivative work.
      </p>
      <hr>
      <p id="esv">
        Scripture quotations marked “ESV” are from the ESV® Bible (The Holy
        Bible, English Standard Version®), copyright © 2001 by Crossway, a
        publishing ministry of Good News Publishers. Used by permission. All
        rights reserved.
      </p>
      <hr>
      <p id="orrick">
        <i>The Baptist Catechism Set to Music</i> is composed by Jim Scott
        Orrick, copyright © 2001. Used by permission. All rights reserved. Jim
        Orrick is a Baptist pastor and the author of
        <a
          href="https://www.prpbooks.com/book/mere-calvinism"
          target="_blank"
        ><i>Mere Calvinism</i></a>
        and other books.
      </p>
    </article>
  </MainLayout>
</template>
