<template>
  <MainLayout
    title="The Baptist Catechism"
    subtitle="Also known as Keach’s Catechism or The 1695 Catechism"
  >
    <IntroSection>
      <p>
        A catechism is a summary of the Christian faith in the form of
        questions and answers, used for the instruction of believers.
      </p>
      <p>
        Baptists who gathered in London for their 1693 General Assembly
        commissioned William Collins to compose such a catechism. This
        document, commonly known as the Baptist Catechism, exists in several
        forms and goes by several names. For example, it is often called
        “Keach's Catechism” on the supposition that Benjamin Keach was its
        primary author.
      </p>
      <p class="mb-0">
        The oldest known copy of the Baptist Catechism is a 5th edition
        printed in 1695. This website uses the text of that version.
      </p>
    </IntroSection>
    <CatechismSection class="narrow">
      <div
        v-for="(q, i) in questions"
        :key="q.id"
      >
        <hr v-if="i">
        <StandardView
          docname="The Baptist Catechism"
          :data="q"
          :link="`/${q.id}/`"
          head
        />
        <DebugData
          :data="{ question: q }"
          :expand-depth="2"
        />
      </div>
      <DebugData
        :data="{ questions }"
        :expand-depth="1"
      />
    </CatechismSection>
  </MainLayout>
</template>

<script setup>
const questions = await queryContent('catechism')
  .sort({
    id: 1,
    $numeric: true
  })
  .find()
</script>
