<template>
  <MainLayout
    title="The Westminster Larger Catechism"
    subtitle="Completed by the Westminster Assembly in 1647"
  >
    <IntroSection>
      <p>
        The Westminster Larger Catechism was completed in 1647 along with
        the Westminster Shorter Catechism, the latter of which is the basis
        of the Baptist Confession.  The larger catechism is useful for
        providing more detailed answers to the questions that arise from the
        shorter catechism.
      </p>
    </IntroSection>
    <CatechismSection class="narrow">
      <div
        v-for="(q, i) in questions"
        :key="q.id"
      >
        <hr v-if="i">
        <StandardView
          docname="The Westminster Larger Catechism"
          :data="q"
          head
        />
        <DebugData
          :data="{ question: q }"
          :expand-depth="2"
        />
      </div>
      <DebugData
        :data="{ questions }"
        :expand-depth="1"
      />
    </CatechismSection>
  </MainLayout>
</template>

<script setup>
const questions = await queryContent('wlc')
  .sort({
    id: 1,
    $numeric: true
  })
  .find()
</script>
