<template>
  <MainLayout
    :title="`Question #${question.id}`"
    subtitle="Of the Baptist Catechism"
  >
    <nav class="d-flex material-middle">
      <NuxtLink
        v-if="prev"
        v-vibrate
        class="bg-light-hover flex-grow-1 text-dark ps-4 py-2"
        :to="`/${prev}/`"
      >
        <MenuLeftIcon class="fs-1" />
        #{{ prev }}
      </NuxtLink>
      <NuxtLink
        v-if="next"
        v-vibrate
        class="bg-light-hover flex-grow-1 text-dark pe-4 py-2 text-end"
        :to="`/${next}/`"
      >
        #{{ next }}
        <MenuRightIcon class="fs-1" />
      </NuxtLink>
    </nav>
    <article class="flex-grow-1 p-0">
      <section class="narrow mt-1">
        <StandardView
          v-if="question"
          docname="The Baptist Catechism"
          :data="question"
        />
      </section>

      <section
        id="music"
        class="narrow"
      >
        <SectionHeading>
          The Baptist Catechism Set to Music
        </SectionHeading>

        <AudioPlayer
          class="song"
          :src="`https://baptistcatechism-org.storage.googleapis.com/orrick-catechism/orrick-catechism-${paddedId}.mp3`"
          type="audio/mpeg"
          controls
        />
        <NuxtLink to="/copyright/#orrick">
          <span>Composed by Jim Orrick</span>
        </NuxtLink>
      </section>
      <DebugData
        :data="{ question }"
        :expand-depth="2"
      />

      <section id="beddome">
        <SectionHeading class="narrow">
          Benjamin Beddome’s Exposition
        </SectionHeading>
        <div class="wide">
          <MiniCatechism :cq="beddome" />
          From
          <NuxtLink to="/beddome/">
            A Scriptural Exposition of the Baptist Catechism
          </NuxtLink>
        </div>
      </section>
      <DebugData
        :data="{ beddome }"
        :expand-depth="2"
      />

      <section
        v-if="wlc.length"
        id="wlc"
        class="narrow"
      >
        <SectionHeading>
          The Westminster Larger Catechism
        </SectionHeading>
        <div
          v-for="(q, i) in wlc"
          :key="q.id"
          class="qcontainer"
        >
          <hr v-if="i">
          <StandardView
            docname="The Westminster Larger Catechism"
            :data="q"
            :link="`${$route.path}#wlc`"
            catechism
            head
          />
        </div>
        <DebugData
          :data="{ wlc }"
          :expand-depth="3"
        />
      </section>
      <DebugData
        :data="{ paddedId, prev, next, question, beddome, wlc }"
        :expand-depth="2"
      />
    </article>
  </MainLayout>
</template>

<script setup>
import { computed } from 'vue'
import MenuLeftIcon from 'vue-material-design-icons/MenuLeft.vue'
import MenuRightIcon from 'vue-material-design-icons/MenuRight.vue'
import { useRoute } from 'vue-router'

const route = useRoute()
const id = parseInt(route.params.id)
const paddedId = route.params.id.padStart(3, 0)

const question = await queryContent('catechism', paddedId).findOne()
const beddome = await queryContent('beddome', paddedId).findOne()
const wlc = await queryContent('wlc').where({ baptist: id }).find()

const prev = computed(() => question.id - 1)
const next = computed(() => (question.id + 1) % 115)
</script>
